@model IntroToLINQandASPLabs.Models.ViewModels.CreateRatingVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if((Model.Actor == null && Model.Movie == null) || (Model.Actor != null && Model.Movie != null))
{
    <h2> Something Went Wrong</h2>
} else
{
    @if (Model.Actor != null)
    {
        <h1>@Model.Actor.Name</h1>

    }
    else
    {
        @if (Model.Movie != null)
        {
            <h1>@Model.Movie.Title</h1>
        }
    }

        <h4>CreateRating</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Score" class="control-label"></label>
                    <input asp-for="Score" class="form-control" />
                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <input asp-for="Comment" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Users" class="control-label"></label>
                    <select asp-for="UserId" asp-items="Model.Users"></select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <input type="hidden"  asp-for="isActor" name="isActor" value="@ViewBag.isActor">
                <input type="hidden"  asp-for="Id" name="id" value="@ViewBag.Id">
                
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>



}





<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

